<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viready.eyas.dao.RoleMapper">

    <resultMap id="roleInfo" type="com.viready.eyas.model.role.RoleBean">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="description" property="description"/>
        <collection property="userList"
                    javaType="java.util.ArrayList"
                    ofType="com.viready.eyas.model.User"
                    select="com.viready.eyas.dao.UserMapper.listByRoleId"
                    column="role_id"/>
    </resultMap>

    <select id="getRolesByUsername" resultType="com.viready.eyas.model.role.Role">
        SELECT r.* FROM sys_user_role ur,sys_user u,sys_role r
        WHERE u.username=#{username} AND ur.user_id=u.user_id AND r.role_id=ur.role_id
    </select>

    <select id="getRolePermTokensByUsername" resultType="java.lang.String">
        SELECT p.perm_token FROM sys_role_permission p,sys_user_role ur,sys_user u
        WHERE p.role_id=ur.role_id AND u.user_id = ur.user_id
        AND u.username=#{username}
    </select>

    <select id="listPage" resultMap="roleInfo">
        SELECT *
        FROM sys_role
        <where>
            <if test="role.roleName != null and role.roleName !=''">
                AND role_name LIKE CONCAT('%',#{role.roleName},'%')
            </if>
            <if test="role.description!=null and role.description !=''">
                and description like CONCAT('%',#{role.description},'%')
            </if>
        </where>
    </select>
</mapper>