<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viready.eyas.dao.RoleMapper">

    <select id="getRolesByUsername" resultType="com.viready.eyas.model.Role">
        SELECT r.* FROM sys_user_role ur,sys_user u,sys_role r
        WHERE u.username=#{username} AND ur.user_id=u.user_id AND r.role_id=ur.role_id
    </select>

    <select id="getRolePermTokensByUsername" resultType="java.lang.String">
        SELECT p.perm_token FROM sys_role_permission p,sys_user_role ur,sys_user u
        WHERE p.role_id=ur.role_id AND u.user_id = ur.user_id
        AND u.username=#{username}
    </select>
</mapper>